services:
  bot:
    build: .
    restart: always
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - REDIS_CACHE_URL=redis://redis-cache:6379
      - REDIS_QUEUE_URL=redis://redis-queue:6379
      - DISCORD_TOKEN=${DISCORD_TOKEN}
      - CLIENT_ID=${CLIENT_ID}
      - DB_POOL_SIZE=5          # Lower pool size per container
      - TOTAL_SHARDS=2
      - CLUSTERS=1              # Run 1 cluster (container) handling both shards
    command: sh -c "npx prisma migrate deploy && node dist/index.js" # Run migrations then start the app
    depends_on:
      - postgres
      - redis-cache
      - redis-queue
    deploy:
      resources:
        limits:
          memory: 1024M        # Hard limit to prevent crashing the OS

  dashboard:
    build:
      context: .
      dockerfile: dashboard/Dockerfile
    restart: always
    ports:
      - "3040:3040"
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - DISCORD_TOKEN=${DISCORD_TOKEN}
      - NODE_ENV=production
    depends_on:
      - postgres
    deploy:
      resources:
        limits:
          memory: 512M

  worker:
    build: .
    restart: always
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - REDIS_CACHE_URL=redis://redis-cache:6379
      - REDIS_QUEUE_URL=redis://redis-queue:6379
      - DB_POOL_SIZE=5
    command: node dist/worker.js
    depends_on:
      - postgres
      - redis-cache
      - redis-queue
    deploy:
      resources:
        limits:
          memory: 512M

  postgres:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    # ports:
    #   - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    # Tune memory usage: 128MB shared buffers, max 50 connections
    command: postgres -c 'shared_buffers=128MB' -c 'max_connections=50'
    deploy:
      resources:
        limits:
          memory: 1024M

  redis-cache:
    image: redis:alpine
    restart: always
    # Cap at 256mb. If full, delete old keys (allkeys-lru)
    command: redis-server --maxmemory 256mb --maxmemory-policy allkeys-lru --save ""
    volumes:
      - redis_cache_data:/data

  redis-queue:
    image: redis:alpine
    restart: always
    # Cap at 256mb. If full, throw error (noeviction) - queues shouldn't just delete data
    command: redis-server --maxmemory 256mb --maxmemory-policy noeviction --appendonly yes
    volumes:
      - redis_queue_data:/data

volumes:
  postgres_data:
  redis_cache_data:
  redis_queue_data: